.modal {
    display: none;
}

.modal-on {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.modal-box {
    border: 1px #f9d102 solid;
    font-family: 'Lato', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 360px;
    transform: translate(-50%, -50%);
    background-color: rgb(50, 50, 62);
    min-height: 200px;
    z-index: 1000;
    border-radius: 8px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-button-box {
    display: flex;
}

.modal-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 24, 43);
    border: 1px rgb(123, 30, 48) solid;
    color: whitesmoke;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 16px 8px 0px 8px;
}

.modal-button:hover {
    background-color: whitesmoke;
    color: rgb(120, 24, 43);
}

.modal-button:active {
    opacity: 0.7;
}