.form-container {
    height: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(235, 225, 225);
}

.add-listing-form {
    box-sizing: border-box;
    margin: 0 auto;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 16px;
    background-color: rgb(50, 50, 62);
    border-radius: 8px;
    padding: 16px;
}

.form-logo-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-logo {
    width: 90%;
    object-fit: contain;
}

.form-input {
    margin-top: 8px;
    box-sizing: border-box;
    width: 200px;
    border-radius: 4px;
    height: 32px;
    padding: 0px 8px;
    background-color: rgb(70, 70, 86);
    border: none;
    color: rgb(241, 234, 234);
}

.form-input:focus {
    outline: 1px #f9d102 solid;
}

.form-select-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.form-select {
    box-sizing: border-box;
    width: 150px;
    height: 32px;
    border-radius: 8px;
    padding: 0px 8px;
    border: 1px rgb(120, 24, 43) solid;
    color: whitesmoke;
    background-color: rgb(120, 24, 43);
}

.form-message {
    text-align: center;
    margin-top: 24px;
    color: crimson;
}

.form-input-container {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.input-div {
    width: 100%;
    display: flex;
    padding: 8px 16px;
    justify-content: space-around;
}

.submit-button-div {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 6px;
    color: whitesmoke;
    background-color: rgb(120, 24, 43);
    border: 1px rgb(123, 30, 48) solid;
    font-weight: 700;
}

.submit-button-div:hover {
    color: crimson;
    background-color: whitesmoke;
    cursor: pointer;
}

.submit-button-div:active {
    opacity: 0.6;
}

@media only screen and (max-width: 640px) {
    .add-listing-form {
        width: 350px;
    }

    .form-select {
        margin-top: 8px;
        width: 125px;
    }

    .form-input {
        width: 150px;
    }
}