.listings-screen {
    width: 100%;
    min-height: 400px;
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.listings-container {
    margin-bottom: 100px;
    width: 85%;
    min-height: 400px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 25px;
    justify-items:center;
    align-items: center;
}

.listing-container {
    box-sizing: border-box;
    border: 2px crimson solid;
    background-color: rgb(50, 50, 62);
    color: whitesmoke;
    border-radius: 8px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow .3s;
}

.listing-container:hover {
    box-shadow: 0 0 24px rgba(104, 11, 11, 0.7);  
    border: 2px #f9d102 solid;
}

.listing-info {
    box-sizing: border-box;
    padding: 16px 24px 0px 24px;
    display: flex;
    height: 125px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listing-image-container {
    height: 150px;
    background-color: rgb(70, 70, 86);
}

.listing-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.price-text {
    margin-top: 8px;
}

.pagination-box {
    position: absolute;
    bottom: 24px;
    text-align: center;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing-nav {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 640px) {
    .listings-container {
        margin-bottom:75px;
    }

    .listing-container {
        height: 275px;
    }

    .listing-image-container {
        height: 150px;
    }
}

@media only screen and (max-width: 480px) {
    .listing-container {
        height: 250px;
    }

    .listing-image-container {
        height: 125px;
    }
}                           